/**
 * Content Module Style Sheet for In-Content Editing in Phire CMS 2
 */

#phire-in-edit-nav {
    position: absolute;
    z-index: 1000000000000;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 30px;
    background-color: #000;
    background-image: url(../img/phire-icon.png);
    background-position: 70px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

#phire-in-edit-nav > a {
    margin: 3px 0 0 0;
    padding: 0;
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
}

#phire-in-edit-nav > a:nth-child(1) {
    margin: 3px 3px 0 6px;
}

#phire-in-edit-nav > a:nth-child(1):before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f040";
    margin: 0;
    padding: 0;
    color: #a2a3a3;
    font-size: 1.1em;
}

#phire-in-edit-nav > a:nth-child(2):before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f0e4";
    margin: 0;
    padding: 0;
    color: #a2a3a3;
    font-size: 1.1em;
}

#phire-in-edit-iframe {
    position: absolute;
    z-index: 1000000000001;
    display: none;
    opacity: 0;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    font-weight: bold;
    padding: 0;
    width: 90%;
    height: 700px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 8px 4px #666;
}

a.in-edit-close-link {
    margin: 0;
    padding: 0;
    display: block;
    width: 22px;
    height: 22px;
    float: right;
}

a.in-edit-close-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f00d";
    margin: 0;
    padding: 0 5px 0 0;
    color: #000;
    font-size: 1.1em;
}