/**
 * Content Module Style Sheet for Phire CMS 2
 */

input.order-field[type="text"] {
    margin: 0;
    padding: 3px;
    font-size: 0.825em;
    text-align: center;
    height: 28px;
}

#content-type-form-fieldset-3 > dl > dd {
    display: inline;
    width: auto;
}
#uri-span {
    margin: 0;
    padding: 0 0 0 6px;
    font-size: 0.825em;
}

#content-owner {
    margin: 8px 0 0 0;
    padding: 0;
    float: right;
    font-size: 0.825em;
}

#content-owner > span {
    padding: 0 4px 0 4px;
}

#content_process_action {
    margin: 2px 15px 0 10px;
}

.green {
    font-weight: bold;
    color: #528435;
}

.orange {
    font-weight: bold;
    color: #e56300;
}

.blue {
    font-weight: bold;
    color: #53aae8;
}

.red {
    font-weight: bold;
    color: #bf1b0f;
}

.content-nav-icon:before {
    position: relative;
    top: -5px;
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f044";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 3px;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 30px;
    height: 18px;
    text-align: center;
}

.content-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.content-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f044";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

input[type=text].datetime-field {
    margin: 0 5px 0 0;
    padding: 3px 5px 3px 5px;
    font-size: 0.825em;
}

body.content-in-edit {
    background: transparent;
    background-color: #f4f1ed;
    overflow: auto;
}

#content-in-edit {
    margin: 0 auto;
    padding: 15px 30px 30px 30px;
    width: calc(100% - 60px);
}
